<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.autoUnmount.backup</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>EXTERNAL_DEVICE_NAME</key>
            <string>backup</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>exec $HOME/scripts/auto-unmount</string>
        </array>
        <key>StandardErrorPath</key>
        <string>/tmp/autoUnmount.backup.err.log</string>
        <key>StandardOutPath</key>
        <string>/tmp/autoUnmount.backup.out.log</string>
        <key>StartInterval</key>
        <integer>300</integer>
    </dict>
</plist>
