[user]
    name = nobu-g
    email = ueda-n127@hotmail.co.jp

[alias]
    s = status
    a = add
    df = diff
    dfc = diff --cached
    co = checkout
    cob = checkout -b
    bra = branch
    cm = commit -m
    cam = commit -a -m
    com = checkout master
    unstage = reset HEAD --
    last = log -1 HEAD
    aliases = config --get-regexp alias

    # git l で綺麗に過去の履歴が見れる
    l = log --graph --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd] %C(bold blue)<%an> %Creset' --decorate --date=iso

[color]
    ui = true

[core]
    editor = emacsclient -nw
    pager = diff-so-fancy | less --tabs=4 -RFX

[pager]
    branch = cat
	diff = diff-so-fancy | less --tabs=4 -RFX --pattern='^(added|deleted|modified): '
    show = (diff-highlight 2>/dev/null || cat) | less -+F -+X -R
    log  = (diff-highlight 2>/dev/null || cat) | less -+F -+X -R

[merge]
    ff = false

[pull]
    ff = only

[diff]
    indentHeuristic = true

[fetch]
    prune = true

[interactive]
    diffFilter = diff-highlight

[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 52"

[color "diff"]
    meta = "11"
    frag = "magenta bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[advice]
    addIgnoredFile = false
