[user]
    name = nobu-g
    email = ueda-n127@hotmail.co.jp

[alias]
    s = status
    df = diff
    dfc = diff --cached
    co = checkout
    cob = checkout -b
    bra = branch
    cm = commit -m
    cam = commit -a -m
    com = checkout master
    unstage = reset HEAD --
    last = log -1 HEAD

    # git l で綺麗に過去の履歴が見れる
    l = log --graph --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd] %C(bold blue)<%an> %Creset' --decorate --date=iso

[color]
    ui = true

[core]
    editor = emacsclient -nw

[pager]
    branch = cat

[merge]
    ff = false

[pull]
    ff = only
