name: lint

on:
  push:
    branches: [main]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install required packages
        run: sudo apt-get update && sudo apt-get install -y shellcheck
      # - name: Execute shellcheck (zsh)
      #   run: test $(find ./.zsh.d/ -type f | grep -v .zsh.d/.zfunc | xargs shellcheck -f gcc --exclude=SC1036,SC1056,SC1072,SC1073,SC1090,SC2139,SC2206,SC2034,SC2148,SC2016,SC2086,SC2128,SC2068,SC2155,SC2001 | tee -a /dev/stderr | wc -l) -le 1
      # - name: Execute shellcheck (zsh functions)
      #   run: test $(find ./.zsh.d/.zfunc -type f | xargs shellcheck -f gcc --exclude=SC1036,SC1056,SC1072,SC1073,SC1090,SC2139,SC2206,SC2034,SC2148,SC2016,SC2086,SC2128,SC2068,SC2155,SC2001,SC2168 | tee -a /dev/stderr | wc -l) -le 1
      - name: Execute shellcheck (installer)
        run: test "$(find . -type f -name "*.sh" | xargs shellcheck -f gcc --exclude=SC1090,SC2086 | tee -a /dev/stderr | wc -l)" -le 0
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install required packages
        run: sudo apt-get update && sudo apt-get install -y shfmt pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files
