name: test-linux

on:
  push:
    branches: [main]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        dist: [ubuntu, debian, fedora]
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Build docker image
        run: docker build . -f dockerfile/${{ matrix.dist }}.dockerfile -t dotfiles:${{ matrix.dist }}
      - name: Create and start docker container
        run: >-
          docker run -td
          --name dotfiles-${{ matrix.dist }}
          -u user
          -w /home/user/dotfiles
          --mount type=bind,source=${{ github.workspace }},target=/home/user/dotfiles,readonly
          dotfiles:${{ matrix.dist }}
          /bin/sh
      - name: Install dotfiles
        run: docker exec -i -w /home/user/dotfiles dotfiles-${{ matrix.dist }} make init deploy
      - name: Test dotfiles
        run: docker exec -i -w /home/user/dotfiles dotfiles-${{ matrix.dist }} make test
