name: test-linux

on:
  push:
    branches: [main]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        dist: [ubuntu, debian, fedora]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Build docker image
        run: docker build . -f containers/${{ matrix.dist }}.dockerfile -t dotfiles:${{ matrix.dist }}
      - name: Create and start docker container
        run: docker run -td -u user -w /home/user dotfiles:${{ matrix.dist }} /bin/sh
      - name: Clone dotfiles
        run: docker exec $(docker ps -lq) git clone --depth 1 https://github.com/nobu-g/dotfiles
      - name: Install dotfiles
        run: docker exec -i -w /home/user/dotfiles $(docker ps -lq) make install
      - name: Test dotfiles
        run: docker exec -i -w /home/user/dotfiles $(docker ps -lq) make test
